{% extends 'ClemLafComptesAppBundle:Comptes:base.html.twig' %}
{% form_theme form 'ClemLafComptesAppBundle:Form:field.html.twig' %}

{% block title %}
    Comptes
{% endblock %}
{% block stylesheets %}
  <LINK rel="stylesheet" href="{{ asset('bundles/clemlafcomptesapp/css/mon_style.css') }}" type="text/css">
  <link rel="stylesheet" href="{{ asset('bundles/clemlafcomptesapp/css/jNotify.jquery.css') }}" type="text/css" />
{% endblock %}
{% block javascripts %}
  <script language="JavaScript" type="text/javascript" src="{{ asset('bundles/clemlafcomptesapp/js/calendar/datetimepicker_css.js') }}"></script>
  <script type="text/javascript" src="{{ asset('bundles/clemlafcomptesapp/js/jquery.js') }}"></script>
  <script type="text/javascript" src="{{ asset('bundles/clemlafcomptesapp/js/jNotify.jquery.js')}}"></script>
  <script type="text/javascript" src="{{ asset('bundles/clemlafcomptesapp/js/update_ajax.js')}}"></script>
  <script type="text/javascript" src="{{ asset('bundles/clemlafcomptesapp/js/utils.js')}}"></script>
  <script type="text/javascript" src="{{ asset('bundles/clemlafcomptesapp/js/twig.min.js')}}"></script>
{% endblock %}

{% block body %}
  <h1>Les comptes</h1>
  {{ test }}
  {{ form(form) }}
  <button onclick="javascript:clearform();">Clear</button>

    {% block content%}
    {% endblock %}
   
{% endblock %}
