<tr id="rw{{ liid }}">
  <td><input name="id" type="text" value={{ liid }} readonly size="3" style="Text-align:right">
    <a id="{{ liid }}"></a></td>
  <td>
	  <input name="last_date" type="text" id="ldat{{ liid }}" value="{{ li.lastDate|date('d/m/Y') }}" size=8 {% if liid!='new' %}onChange="javascript:ajax(rw{{ liid }});"{% endif %} ondblclick="javascript:NewCssCal('dat{{ liid }}','ddMMyyyy', 'arrow');" autocomplete="off">
  </td>
  <td>
    <input name="end_date" type="text" id="edat{{ liid }}" value="{{ li.endDate|date('d/m/Y') }}" size=8 {% if liid!='new' %}onChange="javascript:ajax(rw{{ liid }});"{% endif %} ondblclick="javascript:NewCssCal('dat{{ liid }}','ddMMyyyy', 'arrow');" autocomplete="off">
  </td>
  <td>
    <input name="mois" type="text" id="mo{{ liid }}" value="{{ li.mois }}" size=8 {% if liid!='new' %}onChange="javascript:ajax(rw{{ liid }});"{% endif %} autocomplete="off">
  </td>
  <td>
    <input name="jours" type="text" id="jo{{ liid }}" value="{{ li.jours }}" size=8 {% if liid!='new' %}onChange="javascript:ajax(rw{{ liid }});"{% endif %} autocomplete="off">
  </td>
  <td id="x{{ liid }}">
    {{ include(
    'ClemLafComptesAppBundle:Comptes:dodropbox.html.twig',
    {'na':'cp_s','z0':false,'sele':li.cpS==NULL?0:li.cpS.id,'add':'style="width:70px"','add2':liid,'res':comptes
    })}}
  </td>
  <td>
    {{ include(
    'ClemLafComptesAppBundle:Comptes:dodropbox.html.twig',
    {'na':'cp_d','z0':'--------','sele':li.cpD==NULL?0:li.cpD.id,'add':'','add2':liid,'res':comptes
    })}}
  </td>
  <td>
    {{ include(
    'ClemLafComptesAppBundle:Comptes:dodropbox.html.twig',
    {'na':'moy','z0':'----','sele':li.moyen==NULL?0:li.moyen.id,'add':'', 'add2':liid,'res':moyens
    })}}
  </td>
  <td>
    {{ include(
    'ClemLafComptesAppBundle:Comptes:dodropbox.html.twig',
    {'na':'cat','z0':'--------','sele':li.category==NULL?0:li.category.id,'add':'','add2':liid,'res':categories
    })}}
  </td>
  <td>
    <input name="com" type="text" value="{{ li.com }}" {% if liid!='new' %}onChange="javascript:ajax(rw{{ liid }});"{% endif %}></td>
  <td>
    <input id="pr{{ liid }}" name="pr" type="text" value="{{ li.prix/100 }}" size=7 style="Text-Align:right;color:{% if li.prix>0 %}#00AA00{% else %}#AA0000{% endif %}" onChange="javascript:ajax(rw{{ liid }});" autocomplete="off"></td>
  <td>
	  {% if liid!='new' %}
    <button onClick="javascript:supprime(rw{{ liid }});" name="supp" type="reset">
      <img src="{{ asset('bundles/clemlafcomptesapp/images/b_drop.png') }}">
	  {% else %}
	    <button onClick="javascript:ajax(rw{{ liid }});" name="add">
      <img src="{{ asset('bundles/clemlafcomptesapp/images/b_snewtbl.png') }}">
	  {% endif %}
    </button>
  </td>
</tr>
