{% extends 'ClemLafComptesAppBundle:Comptes:base.html.twig' %}
{% block title %}
  Paramètres
{% endblock %}
{% block stylesheets %}
{% stylesheets 'bundles/clemlafcomptesapp/css/mon_style.css' filter='cssrewrite' %}
  <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
  {% endstylesheets %}
{% endblock %}
{% block javascripts %}
{% javascripts 'bundles/clemlafcomptesapp/js/param.js'
	       output='js/compiled/param.js'
	       %}
  <script type="text/javascript" src="{{ asset_url }}"></script>
  {% endjavascripts %}
{% endblock %}
{% block body %}
  <h1>Paramètres des comptes</h1>
  <div class="tabpar">
    <h2>Liste des comptes</h2>
{{ include('ClemLafComptesAppBundle:Comptes:tab_par.html.twig',{'data':comptes,'type':'comptes'}) }}
{{ form(form_comp) }}
  </div>
  <div class="tabpar"><h2>Liste des catégories</h2>
{{ include('ClemLafComptesAppBundle:Comptes:tab_par.html.twig',{'data':categories,'type':'categories'}) }}
{{ form(form_cat) }}
</div>
  <div class="tabpar"><h2>Liste des moyens de paiement</h2>
{{ include('ClemLafComptesAppBundle:Comptes:tab_par.html.twig',{'data':moyens,'type':'moyens'}) }}
{{ form(form_moy) }}
</div>
{% endblock %}
